@use "../mixins/breakpoints" as *;

.footer {
  background-color: #323232;
  padding: 17px 40px;

  @include big-desktop {
    padding: 17px 0;
  }

  @include mobile {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
  }

  &__content {
    display: flex;
    align-items: center;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__logo-img {
    width: 168px;

    @include mobile {
      width: 111px;
    }
  }

  &__quote {
    padding-top: 6px;
    margin-right: auto;

    @include tablet2 {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;
    flex-direction: column;

    @include big-desktop {
      margin-right: 144px;
    }

    @include tablet2 {
      margin-right: auto;
    }

    @include mobile {
      margin-right: 0;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo-text {
    margin: 0;
    padding: 0;
    color: rgb(233, 233, 233);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

    @include mobile {
      font-weight: 400;
      font-size: 10px;
      text-align: center;
    }
  }

  &__logo-text:first-child {
    color: rgb(233, 233, 233);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }

  &__quote p {
    color: rgb(202, 202, 202);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  &__socials {
    text-align: center;

    @include tablet {
      margin-left: auto;
    }

    @include mobile {
      margin: 0;
      margin-bottom: 42px;
    }
  }

  &__socials p {
    padding-top: 6px;
    margin-bottom: 10px;
    color: rgb(202, 202, 202);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    @include mobile {
      font-weight: 400;
      font-size: 16px;
      line-height: 137%;
    }
  }

  &__icons-list {
    list-style: none;
    justify-content: center;
    margin-left: 20px;
  }
}

.link {
  margin-right: 20px;

  &:hover path {
    fill: #ff6e30;
  }

  &:focus path {
    fill: #bc572b;
  }

  &:focus {
    outline: none !important;
  }

  &:active path {
    fill: #bc572b;
  }
}

.icons-svg path {
  fill: #cacaca;
  transition: fill 0.3s ease-in-out;
}
