@use "../mixins/breakpoints" as *;

.header {
  background-color: #323232;

  &__container {
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    @include tablet {
      padding: 0;
    }

    @include mobile {
      padding-bottom: 22px;
    }
  }

  &__logo {
    padding-top: 3px;
    margin-right: 138px;

    @include big-desktop {
      width: 170px;
      margin-right: 82px;
    }

    @include tablet {
      margin-right: auto;
      padding-top: 27px;
      padding-bottom: 22px;
      margin-left: 27px;
    }

    @include mobile {
      width: 111px;
      margin-left: 21px;
      padding-top: 26px;
    }
  }
}

.menulimiter {
  margin-right: auto;

  @include tablet {
    background: #4a4a4a;
    width: 100%;
    padding: 12px 27px 11px;
    overflow: scroll;
    order: 3;
    white-space: nowrap;
  }

  @include mobile {
    background-color: #323232;
    position: static;
  }
}

.nav {
  @include mobile {
    padding-top: 48px;
    padding-left: 18px;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 66px;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: black;
    transition: all 0.4s;
  }

  &__list {
    gap: 82px;

    @include big-desktop {
      gap: 33px;
    }

    @include tablet {
      gap: 76px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__item {
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 29px;

    @include tablet {
      padding: 0;
    }

    &-link {
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      background-color: inherit;
      transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:focus {
        outline: none;
        background-color: #bc572b;
      }

      &:hover {
        background-color: inherit;
        color: #ff6e30;
      }

      &:active {
        background-color: inherit;
        color: #ce4307;
      }

      @include mobile {
        font-size: 12px;
      }
    }
  }
}

.btn__header {
  background-color: transparent;
  display: inline-block;
  position: relative;
  border: none;

  @include tablet {
    margin-right: 27px;
  }

  @include mobile {
    .search {
      width: 20px;
      height: 20px;
    }
    margin-right: 21px;
  }
}

.search path {
  fill: white;
  transition: fill 0.3s ease-in-out;
}

.btn__header:focus .search path {
  fill: #ce4307;
}

.btn__header:focus {
  outline: none;
}

.btn__header:hover .search path {
  fill: #ff6e30;
}

.btn__header:active .search path {
  fill: #bc572b;
}

.open {
  display: flex !important;
  left: 0;
}

.burger {
  display: none;
  position: absolute;
  z-index: 50;
  align-items: center;
  justify-content: flex-start;
  left: 21px;
  top: 84px;
  width: 20px;
  height: 18px;
  transition: 0.4s ease-in-out;

  @include mobile {
    display: flex;
  }
}

.burger.active {
  width: 18px;
  height: 18px;
  background-color: #cccccc;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #fff;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
  width: 50%;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  width: 80%;
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
  width: 80%;
}
